<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">
    <title>Proffy | Sua plataforma de estudos online</title>

    <link rel="shortcut icon" href="images/images/favicon.png" type="image/png">

    <link rel="stylesheet" href="estilos/main.css">
    <link rel="stylesheet" href="estilos/partials/page-sucess.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
</head>

<body id="sucess">
    <div id="conteudo-principal">
        <header id="ft-h1">
            <img src="/images/images/icons/success-check-icon.svg" alt="check icone">
            <h1>Cadastro Salvo</h1>
            <p>Tudo certo, seu cadastro esta na nossa lista de professores<br>Agora os alunos tem acesso ao seu whatss app para marcarem aulas</p>
        <div class="botao">
            <a href="/study"><button>Acessar Proffys</button> </a>

        </div>

    </div>
    <script>
        function mudarPagina() {
        location.href = '/study'
        }
        setTimeout(mudarPagina, 2000)
    </script>

</body>

</html>